body {
  width: 100%;
  height: 100%;
  background-color: #2A3E40;
  margin-top: 10px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background: #F7F7F7;
}

.container {
  width: 80%;
  background-color:#F7F7F7;
  margin-bottom: 20px;
  padding: 15px;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.incidentButton {
  float: right;
}

.card-subtitle {
  font-size: 18px
}

.jumbotron {
  margin-top: 10px;
  padding: 30px;
  background-color: #83B6A2;
}

.card {
  background-color: #F7F7F7;
}